*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
}
button{
    border: none;
    outline: none;
}
body{
    background:linear-gradient(to right,#7ad5f9b5,#54fbeaa3);
}
.gr{
    background-color: #002163;
}
.contener{
    width: 100%;
}
#toppage{
    position: fixed;
    background:linear-gradient(to right,#2d8bd7,#004763d5);
    width: 100%;
    margin: auto;
    box-shadow: 2px 2px 10px #6083a8;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
#info_num{
    margin: auto;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 600px;
}
#info_res{
    position: relative;
}
/* #info_res::before{
    position: absolute;
    content: '';
    background-color: #00ffa6;
    width: 194px;
    left: 8px;
    bottom: 2px;
    height: 7px;
} */
#info_num h4:not(#res_info){
    background-color: #000a55;
    color: #ffffff;
    padding: 3px;
    letter-spacing: 1px;
}
#Search{
    display: flex;
    padding-left: 17px;
    width: 500px;
    flex-flow: row;
    justify-content: space-between;
}
#btn_search{    
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
#btn_search button:not(:hover){
    transition: 0.4s;
    width: 34px;
    height: 32px;
    border-radius: 30px;
    margin: auto;
    font-weight: 550;
}
#btn_search button:hover{
    margin: auto;
    transition: 0.3s;
    width: 34px;
    height: 32px;
    background-color: #63cdf1eb;
    font-weight: 550;
    border-radius: 5px;
    color: aliceblue;
    transform: scale(1.09);
    box-shadow: 2px 2px 10px #001a2d;
}
#Search input{
    text-align: center;
    border: none;
    border-radius: 12px;
    width: 40%;
    height: 31px;
    margin: auto;
    font-size: 14px;
    font-weight: 550px;
}
#Search input:focus{
    transition: 0.4s;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px #19583e;
}
.isopen{
    background-color: #47b900;
}
.isnotopen{
    background-color: red;
}
.pagedata{
    width: 95%;
    margin: auto;
    padding-top: 8%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background:linear-gradient(#005ba595,#006769d7);
    width: 28%;
    margin: 1%;
    box-shadow: 2px 2px 10px #006570;
    height: 50%;
}
#top_card{
    display: flex;
    text-align: center;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#levet{
    color:aliceblue;
    width: 30%;
    border-top-right-radius: 12px;
}
#date{
    border-top-left-radius: 12px;
    background-color: rgb(1, 108, 141);
    color:aliceblue;
    width: 70%;
}
#top_card button{
    width: 30%;
    margin: auto;
    background-color: rgb(1, 68, 157);
    color: antiquewhite;
    height: 22px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#top_card button:hover{
    transition: 0.3s;
    background-color: rgb(73, 192, 235);
    box-shadow: 2px 2px 10px #006570;
}
#card_data h5,h4{
    letter-spacing:0.2mm;
    margin: 8px;
    color: rgb(255, 255, 255);
}
#card_data h4:hover{
    transition: 0.3s;
    background-color: rgb(235, 219, 73);
    color: #001a2d;
}
#btn_card{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin-top: 25px;
}
#btn_card button{
    height: 27px;
}
.WhatsApp_card{
    background-color: rgb(24, 90, 46);
    color: white;
    width: 50%;
    margin: auto;
}
.WhatsApp_card:hover{
    transition: 0.4s;
    background-color: rgb(6, 207, 6);
}
#done_card{
    background-color: rgb(18, 61, 54);
    color: white;
    width: 25%;
}
#done_card:hover{
    transition: 0.4s;
    background-color: #01a169;
}
.delete_card{
    background-color: rgb(253, 226, 226);
    color: rgb(255, 0, 0);
    width: 25%;
    font-weight: 600;
}
.delete_card:hover{
    transition: 0.4s;
    background-color: red;
    color: white;
}
#copy_card{
    width:100%;
    background-color: #a35100;
    color: white;
}
#copy_card:hover{
    transition: 0.4s;
    background-color: #ff8000;
}
.sidebar {
    width: 19.5%;
    background:linear-gradient(#3c0d77,rgb(10, 100, 156));
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    text-align: center;
    color: white;
}
.triangle1 {
    position: absolute;
    border-top: 920px solid transparent; /* إنشاء قمة المثلث */
    border-left: 150px solid rgba(25, 0, 94, 0.311); /* إنشاء الخط السفلي للمثلث */
    z-index: -5;
    height: 100%;
}
#mnu_ser{
    display: flex;
}
.sidebar-toggle {
    background-color: #002163;
    color: white;
    width: 10%;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar ul {
    margin-top: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul h1{
    margin: 15px;
}
.toggle-button {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #979a97; /* لون الزر المفعل */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
  
.sidebar ul button:not(.toggle-button,#btn_max_ply) {
    color: white;
    width: 100%;
    padding: 15px;
    background:none;
    font-weight: 600;
    letter-spacing: 0.3;
}

.sidebar ul button:hover:not(.toggle-button,#btn_max_ply) {
    transition: 0.2s;
    background-color: #807e7e4b;
    cursor: pointer;
    color: wheat;
}

.sidebar.active {
    transform: translateX(250px);
}
  /* تغيير ستايل الزر عند تفعيله */
  .toggle-button.active .toggle-ball {
      left: calc(100% - 50px);
    background-color: #36f449; /* لون الكرة عند التفعيل */

}
.toggle-button.active{
    background-color: #457f56;
}
#active_page_submit{
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background-color: rgba(227, 30, 201, 0.286);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 12px;
}
.toggle-ball {
    width: 24px;
    height: 24px;
    background-color: rgb(121, 120, 120); /* لون الكرة */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: all 0.2s ease-in-out;
    left: calc(100% - 20px);
}
#menu1 {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    background-color: #7e808187;
} 
  
#menu1 li{
    margin: 8px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
#menu1 li input{
    outline: none;
    border: none;
    height: 30px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
}
#menu1 li button:not(.toggle-button){
    width: 25%;
    background-color: #002163;
    color: white;
    border-radius: 20px;
}
#menu1 li button:not(.toggle-button):hover{
    transition: 0.3s;
    background-color: #006570;
}
#menu1.active {
    max-height: 200px; /* تعيين ارتفاع القائمة المنزلقة */
    transition: max-height 0.3s ease-in;
}
/* /////////////////////////////////////// */
#menu2 {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    background-color: #7e808187;
} 
  
#menu2 li{
    margin: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
#menu2 li input{
    outline: none;
    border: none;
    height: 30px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
}
#menu2.active {
    max-height: 700px; /* تعيين ارتفاع القائمة المنزلقة */
    transition: max-height 0.3s ease-in;
}  
#p_wats{
    border: none;
    outline: none;
    background:linear-gradient(to right,#047b90,#004763d5);
    text-align: start;
    border: #125ae9 solid 1px;
    padding: 5px;
    margin-top: 5px;
    letter-spacing: 0.3;
}



@media screen and (max-width:900px){
    *{
        font-size: 15px;
    }
    #toppage{
        position: fixed;
        background:linear-gradient(to right,#2d8bd7,#004763d5);
        width: 100%;
        margin: auto;
        box-shadow: 2px 2px 10px #6083a8;
        z-index: 1;
    }
    .sidebar-toggle{
        width: 50px;
        z-index: 1000;
    }
    .triangle1 {
        position: absolute;
        border-top: 920px solid transparent; /* إنشاء قمة المثلث */
        border-left: 100px solid rgba(25, 0, 94, 0.311); /* إنشاء الخط السفلي للمثلث */
        z-index: -5;
        height: 100%;
    }
    #info_res::before{
        position: absolute;
        content: '';
        background-color: #00dd90;
        width: 155px;
        left: 8px;
        bottom: 2px;
        height: 7px;
    }
}